{% extends 'tasks_app/main.html' %}
{% block content %}

<div class="header-bar">
  <h2>Register page</h2>
</div>

<div class="card-body">
  <form method="post">
    {% csrf_token %}

    <label>{{ form.username.label</label>
    {{ form.username }

    <label>{{ form.password1.label }}</label>
    {{ from.password1 }}

    <label>{{ form.password2.label }}</label>
    {{ form.password2 }}

    <input class="button register-button" type="submit" value="Register">
  </form>
  <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>

{% endblock content %}
